#gameScreen {
  z-index: 2;
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(../images/gamebg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gameScreen__gamewindow {
  position: relative;
  width: 750px;
  height: 750px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  background-color: pink;
}

.gameInfo {
  width: 200px;
  height: 750px;
  background-color: aquamarine;
  display: none;
}

#borderLeft {
  position: absolute;
  left: -70px;
}

#borderRight {
  position: absolute;
  right: -70px;
}

#borderTop {
  position: absolute;
  top: -60px;
}

#borderBottom {
  position: absolute;
  bottom: -70px;
}

#codeModal {
  z-index: 100000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: rgba(249, 249, 249, 0.683);
  color: rgb(27, 27, 27);
  width: max-content;
  height: 20px;
  padding: 10px 20px;
  border-radius: 10px;

  top: 10px;
  right: 10px;
}
