#joinRoomScreen {
  z-index: 8;
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #deebdc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.joinRoomScreen__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px; }

.joinRoomScreen__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px; }
