* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcomeScreen {
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 32px;
}

#usernameScreen {
  z-index: 9;
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(61, 78, 67);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputBox {
  min-height: 400px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  width: 400px;
  border: 2px solid #4d4d4d;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.171);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

button {
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #dfdfdf;
  margin-bottom: 30px;
}

input {
  padding: 10px 5px;
  border-radius: 10px;
  margin-top: 20px;
}

#gameScreen {
  z-index: 2;
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/gamebg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gameScreen__gamewindow {
  position: relative;
  width: 750px;
  height: 750px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: pink;
}

.gameInfo {
  width: 200px;
  height: 750px;
  background-color: aquamarine;
  display: none;
}

#borderLeft {
  position: absolute;
  left: -70px;
}

#borderRight {
  position: absolute;
  right: -70px;
}

#borderTop {
  position: absolute;
  top: -60px;
}

#borderBottom {
  position: absolute;
  bottom: -70px;
}

#codeModal {
  z-index: 100000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: rgb(249, 249, 249);
  border: 1px solid rgb(61, 78, 67);
  color: #1b1b1b;
  width: max-content;
  height: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  top: 10px;
  right: 10px;
}

#joinRoomScreen {
  z-index: 8;
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(61, 78, 67);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.joinRoomScreen__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.joinRoomScreen__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
