#welcomeScreen {
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #ffbdde;
  display: flex;
  align-items: center;
  justify-content: center; }
